@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");

body {
  background: black;
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #555 #333; /* Firefox */
}

/* Chrome, Safari */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #333;
}

body::-webkit-scrollbar-thumb {
  background: #555;
}

body::-webkit-scrollbar-thumb:hover {
  background: #777;
}
