<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song</title>

    <link href="tailwind.css" rel="stylesheet" />
    <link href="./css/home.css" rel="stylesheet" />

    <script type="module" src="home.js"></script>
</head>
<body>
    <sidebar-comp></sidebar-comp>
    
    <div class="md:pl-24 xl:pl-60 2xl:pl-[20rem] select-none">
        <song-page-comp></song-page-comp>
    </div>
</body>
</html>